@import '../../../../shared/styles/variables';
@import '../../../../shared/styles/mixins';

.hero {
  padding-top: 45px;
  padding-bottom: 64px;
}

.title {
  margin: 0 0 40px;
  font-family: $font-chicoree;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.37;
  color: $color-black;
  text-align: center;
}

.banner {
  border-radius: 14px;
  overflow: hidden;
}

.bannerImage {
  display: block;
  width: 100%;
  height: auto;
}

@include respond(mobile) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
  }

  .title {
    margin-bottom: calc($section-gap-mobile / 2);
    font-size: 28px;
  }
}
