@import '../../../../shared/styles/variables';
@import '../../../../shared/styles/mixins';

.section {
  padding-bottom: $section-gap-desktop;
}

.bar {
  padding: 44px 0;
  margin-bottom: 48px;
  background: $color-gray-bar;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.action {
  display: flex;
  justify-content: center;

  a,
  button {
    min-height: 61px;
    padding: 16.28px 31px;
    border-radius: 153.88px;
    font-family: $font-body;
    font-size: 21.28px;
    font-weight: 700;
    line-height: 1.219;
    box-shadow: $shadow-button;
  }
}

@include respond(tablet) {
  .section {
    padding-bottom: $section-gap-tablet;
  }

  .bar {
    padding: 36px 0;
    margin-bottom: 32px;
  }

  .content {
    gap: 26px;
  }
}

@include respond(mobile) {
  .section {
    padding-bottom: $section-gap-mobile;
  }

  .bar {
    padding: 32px 0;
    margin-bottom: 24px;
  }

  .content {
    gap: 18px;
  }

  .action {
    display: flex;

    a,
    button {
      min-height: 50px;
      padding: 12px 22px;
      font-size: 17px;
      border-radius: 100px;
    }
  }
}
