@import '../../../../../../shared/styles/mixins';

.illustration {
  position: relative;
  width: min(100%, 560px);
  aspect-ratio: 560 / 498;
}

.image {
  object-fit: contain;
}

@include respond(mobile) {
  .illustration {
    width: 100%;
    max-width: none;
    aspect-ratio: 374 / 364;
  }

  .image {
    object-fit: cover;
    object-position: center top;
  }
}
